<footer>
    <div class="footer-logo">
       <a href="/">Study-A</a> 
    </div>
    <div class="adress">
      <li>〒○○○-○○○○</li>
      <li>○○○○○○○○○○○○-○○</li>
      <li>TEL: ○○○○-○○-○○○○</li>
      <li>FAX: ○○○○-○○-○○○○</li>
    </div>
    <div class="footer-list">
      <li>
        <a href="#concept">コンセプト</a>
      </li> 
      <li>
        <a href="#project">プロジェクト</a>
      </li>
      <li>
        <a href="/form">お問い合わせ・資料請求</a>
      </li> 
      
    </div>
    <div class="footer-middle">
       <div class="footer-sentence">
          <p>Lorem ipsum dolor, sit amet consectetur</p>
          <p>Lorem ipsum dolor, sit </p>
          <p>Lorem ipsum, dolor </p>
          <p>Lorem ipsum</p>
       </div>
       <div class="sns">
          <i class="fab fa-facebook"> Facebook</i>
          <i class="fab fa-instagram"> Instagram</i>
          <i class="fab fa-twitter"> Twitter</i>
       </div>
    </div>
       <div class="copy">
          <p>©︎ 2021 Stady-A</p>
       </div>
</footer>