<header>
    <div class="container">
      <a href="/" class="header-logo">Study-A</a> 
       <div class="header-right">
         <ul>
           <a href="#concept">コンセプト</a>
           <a href="#project"> プロジェクト</a>
           <a href="/form">お問い合わせ・資料請求</a>
         </ul>
       </div>       
      </div>
    </div>
</header>