*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header {
    height: 45px;
    width: 100%;
    background-color: rgba(77, 74, 74, 0.678);
    position :fixed;
    top: 0;
    left: 0;
    transition: all 3s;
}

.header-logo {
    float: left;
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 7px 0px 0px 15px;
}

.header-right {
    float: right;
    margin-right: 15px;
}

.header-right a {
    line-height: 45px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    text-decoration: none;
  }


 .form-sentence{
     margin: 100px 0px 0px 30px;
 }

  .Form {
    margin: 80px auto 100px auto;
    max-width: 720px;
  }
  @media screen and (max-width: 480px) {
    .Form {
      margin-top: 40px;
    }
  }
  .Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    .Form-Item {
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 16px;
      padding-bottom: 16px;
      flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  .Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label.isMsg {
      margin-top: 0;
    }
  }
  .Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label-Required {
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 32px;
      font-size: 10px;
    }
  }
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  @media screen and (max-width: 480px) {
    .Form-Btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }








footer {
    background-color: darkgray;
    height: 200px;
}

.footer-logo{
    float: left;
    padding: 15px;
    font-size: larger;
}

.footer-logo a{
    text-decoration: none;
    color: white;
}

.adress {
    float: left;
    margin-top: 50px;
}

.adress li {
    padding: 5px;
    font-size: 5px;
    list-style: none;
}

.footer-middle {
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.sns {
    padding-top: 20px;
}

.sns i {
    padding: 7px;
    font-size: larger;
}

.copy {
    text-align: center;
    background-color: gray;
    margin-top: 20px;
    font-size: 5px;
    color: rgba(255, 255, 255, 0.634);
}

.footer-list {
    float: right;
    list-style: none;
    padding-right: 20px;
}

.footer-list li {
    padding: 10px;
}

.footer-list a {
    text-decoration: none;
    color: white;
}